# Data Science Tools and Ecosystem

## Author:
Yossi Levy

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages used by Data Scientist
- List popular python libraries used by Data Scientists
- List popular Open Source tools used by Data Scientists
- Show some examples of arithmetic expressions in python

**Some of the popular languages that Data Scientists use are:**
1. Python
2. R
3. SQL
4. Java

**Some of the commonly used (python) libraries used by Data Scientists include:**
1. numpy
2. pandas
3. matplotlib
4. plotly

|Data Science Tools|
|-|
|Jupyter Lab|
|RStudio|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60

200 / 60

3.3333333333333335